<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Feedback List</h4>
            <p class="card-category">
              Approve feedback for retraining or Discard them
            </p>
          </div>
          <div class="card-body">
            <app-generic-table
              [tableData]="feedbackList"
              [tableHeaders]="tableHeaders"
              [isShowActions]="true"
              [exemptedKeys]="exemptedKeys"
              [showActions]="showActions"
              (trashAction)="trashAction($event)"
              (checkAction)="checkAction($event)"
            ></app-generic-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
