<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Feedback List</h4>
            <p class="card-category">Approve feedback for retraining or Discard them</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <app-feedback-table></app-feedback-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>